.policyCalculator { 
	margin: 0 auto 0 auto;
	max-width: 528px;
}
.policyCalculator h1 { 
	text-align: center;
	text-transform: uppercase;
}
.policyCalculator h2 { 
	text-align: center;
	text-transform: capitalize;   
}
#ageRangeSlider {
	margin-top: 7px;
	margin-bottom: 33px;
}
#policySlider { 
	margin-top: 10px;
	margin-bottom: 23px;
}
#ageRangeSlider, #policySlider {
    height: 35px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
}
.ageRangeOutputs, .amountRangeOutputs {
    text-align: center;
}
.ageRangeOutputs input, .amountRangeOutputs input { 
	width: 38px;
	border: 0; 
}
.ui-widget-header {
    background: #F99538 url('../img/circle-closed.png')  12px 12px repeat-x !important;
    -webkit-border-radius: 24px !important;
    -moz-border-radius: 24px !important;
    -ms-border-radius: 24px !important;
    -o-border-radius: 24px !important;
    border-radius: 24px !important;
    -moz-box-shadow:    inset 0 3px 7px -3px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 7px -3px rgba(0,0,0,.4);
	-ms-box-shadow:     inset 0 3px 7px -3px rgba(0,0,0,.4);
	-0-box-shadow:      inset 0 3px 7px -3px rgba(0,0,0,.4);
	box-shadow:         inset 0 3px 7px -3px rgba(0,0,0,.4);
}
.ui-widget-content .ui-state-default, .ui-widget-content .ui-state-active {
		width: 35px !important;
		height: 35px !important;
		background: #555 url() top left no-repeat !important;
		border: 0 !important;
    	-webkit-border-radius: 24px !important;
    	-moz-border-radius: 24px !important;
    	-ms-border-radius: 24px !important;
    	-o-border-radius: 24px !important;
    	border-radius: 24px !important;
} 
.ui-slider-horizontal .ui-slider-handle {
    top: 0 !important;
    margin-left: -12.5px !important;
}
.ui-widget-content .ui-state-default:after {
	position: absolute;
	top: 11px;
	left: 11px;
	z-index: 3;
	width: 12px;
	height: 12px;
	background-color: #fff;
	content: '';
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-widget-content {
    background: #cbcbcb url('../img/circle-open.png') 12px 12px repeat-x !important;
    border: 0 !important;
    -moz-box-shadow:    inset 0 3px 7px -3px #000;
	-webkit-box-shadow: inset 0 3px 7px -3px #000;
	-ms-box-shadow:     inset 0 3px 7px -3px #000;
	-o-box-shadow:      inset 0 3px 7px -3px #000;
	box-shadow:         inset 0 3px 7px -3px #000;
} 
.policyCalculator span {
	margin-bottom: 0;
	color: #F99538;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	display: block;
}
.policyCalculator label {
	color: #808080;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.grid2cola { width: 100%; }
@media only screen and (max-width: 600px) {
	.grid2cola .column { width: 100% !important; }
}
.grid2cola .column { width: 50%; display: block; }
.grid2cola .column:first-of-type { float: left; }
.grid2cola .column:last-of-type { float: right; }
.reccOutput { float: left; }
.maxOutput { float: right; }
@media only screen and (max-width: 600px) {
	.reccOutput, .maxOutput { float: none !important;}
}
.reccOutput, .maxOutput {
	margin-top: 10px;
	color: #7f7f7f;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}
.reccOutput p, .maxOutput p {
	margin-top: 10px;
	padding-top: 9px;
	padding-right: 40px;
	padding-bottom: 9px;
	padding-left: 40px;
	display: inline-block;
	color: #F99538;
	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border: 1px solid #d2d2d2;
}